{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static '/Bootstrap/bootstrap.min.css' %}">
    <style type="text/css">
        #mydiv {
            position: absolute;
            top: 30%;
            left: 48%;
            width: 35em;
            height: 40em;
            margin-top: -9em;
            margin-left: -15em;
            border: 1px solid #ccc;
            background-color: #00b7ff;
            border-radius: 5%
        }
    </style>
</head>

<body style="background-image: url({% static '/Wallpaper/background.jpg'%});">
    <div id="mydiv">
        <center>
            <br>
            <a href="../Welcome"><img src="{% static '/Logo/Logo.png'%}" hieght="100" width="100"
                    style="float:left;padding-left: 5%"></a>
            <h1 style="text-align:center;padding-right:10%">Add Product</h1>
            <form method="POST" action="../Add_Product/">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><br>Product Category : </td>
                        <td><br>
                            <select name="category">
                            <option value="Mobile">Mobile</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Camera">Camera</option>
                            <option value="Smart_Watch">Smart Watch</option>
                            <option value="Com_Hardware">Computer Hardware</option>
                            <option option="Elec_Accessories">Electric Accessories</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><br>Product Name :
                        </td>
                        <td>
                            <br><br><input type="text" name="pname" placeholder=" Product Name" size="33">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>Product Price :
                        </td>
                        <td>
                            <br><input type="text" name="price" placeholder=" Price " size=33>
                        </td>
                    </tr>
                    <tr>
                        <td><br>Copy Link Of Your Image :</td>
                        <td><br><input type="text" name="pro_img" size="33"></td>
                    </tr>
                    <tr>
                        <td><br>Product Description : </td>
                        <td><br><textarea name="pro_desc" rows="7" cols="36"></textarea> </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <br><br><input type="submit" name="submit" value="  Add Product  ">
                        </td>
                    </tr>
                </table>
        </center>
        </form>
    </div>
</body>

</html>