{% load static %}
<html>

<head>
    <title>Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="{% static '/Bootstrap/bootstrap.min.css' %}">
    <style>
        {
            .bg {
                background-image: url("{% static '/Wallpaper/background.jpg'%}");
                height: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    </style>

</head>

<body style="background-image: url({% static '/Wallpaper/background.jpg'%});">
    <div class="bg">
        {% include "Header.html"%}
        <h1 style="color:aliceblue;">
            <center>Mobiles</center>
        </h1>
        <form action="../M_INFO/" method="POST">
            {% csrf_token %}
            {% if m_info %}
            <table border="2" style="width:100%">
                {% for mob in m_info %}
                <tr>
                        <td style="width:50%;"><center><img src="{{ mob.m_photo_link }}" alt="Mobile Photo" height="300" width="220"></center></td>
                        <td><div>
                            <table style="width:100%">
                            <tr>
                                <td>
                                    <center><big><big><big><input type="submit" value='{{mob.m_name}}' name="b1" onclick="b1={{mob.m_id}}" /></big></big></big></center><br><br><br><br>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:aliceblue;"><center><big><big><big>Price - {{ mob.m_price }}</big></big></big></center></td>
                            </tr>
                        </table>
                        </div>
                        </td>
                    <br><br>
                <td>
                {% endfor %}
            </table>
            {% else %}
            <p>No Mobiles available</p>
            {% endif %}
        </form>
        {% include "Footer.html"%}
    </div>
</body>

</html>


